body {
    font-family: 'Microsoft JhengHei', sans-serif;
}

.card_header {
    background-color: rgba(0,0,0,.3);
}

.ref_link {
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

/* slide bar */
.slidecontainer {
    width: 40%;
}

.slider {
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}